<div class="container">

</div>
<div class="left-side col-md-1">
    <div class="new-book panel panel-default col-md-1">
        <a href="/books"><img class="sidePanelImage"src="https://rjlouise.files.wordpress.com/2010/03/books.jpg" alt="" /></a>
        <div class="panel-body text-center">
        <a href="/books/new">NEW BOOK</a>
        </div>
    </div>
    <div class="new-author panel panel-default col-md-1">
        <a href="/authors"><img class="sidePanelImage" src="http://cdn.shopify.com/s/files/1/0080/8372/products/tattly_julia_rothman_typewriter_web_design_01_grande.jpg?v=1334946154" alt="" /></a>
        <div class="panel-body text-center">
            <a href="/authors/new">NEW AUTHOR</a>
        </div>
    </div>
</div>

<div class="book-container">


{{#book}}
<div class="book col-md-offset-1">
    <div class="image col-md-2">
        <img class="portraits"src="{{portrait_url}}" alt="" />
    </div>
    <div class="info" "col-sm-offset-1 col-md-3">
        <p class='text-right'>
            <a href="/authors/edit/{{id}}">
            <button class="btn" name="edit">Edit</button>
            </a>
            <a href="/authors/delete/{{id}}">
             <button class="btn" name="delete">Delete</button>
            </a>
        </p>
        <h2> {{first_name}} {{last_name}}</h2>
        <p>
        {{bio}}
    </p><br>

    </div>

</div>
<br>
<br>
<br>
<br>

{{/book}}
</div>
</div>
