<div class="container">
    <div class="left-side col-md-1">
        <div class="panel panel-default col-md-1">
            <div class="panel-body text-center">
            <a href="/books/new">NEW BOOK</a>
            </div>
        </div>
        <div class="sid panel panel-default col-md-1">
            <div class="panel-body text-center">
                <a href="/authors/new">NEW AUTHOR</a>
            </div>
        </div>
    </div>

    <div class="book-container">

        {{#book}}
            <div class="book col-md-offset-1">
                <div class="image col-md-2">
                    <img class="portraits" src="{{cover_url}}" alt="" />
                </div>
                <div class="info" "col-md-3">
                    <p class='text-right'>
                        <a href="/books/edit/{{id}}">
                            <button class="btn" name="edit">Edit</button>
                        </a>
                        <a href="/books/delete/{{id}}">
                            <button class="btn" name="delete">Delete</button>
                        </a>
                    </p>
                    <h2>{{title}}</h2>
                    <h4>By {{first_name}} {{last_name}}</h4>
                    <em><h4>{{genre}}</h4></em>
                    <p class="description">
                        {{description}}
                    </p>

                </div>

            </div>
            <br>


        {{/book}}

    </div>
</div>
