{{#book}}
    <h1>Are you sure you want to delete <em>{{title}}</em> and all of the related infomation?
</h1>
    <div class="container">

    </div>
    <div class="left-side col-md-1">
        <div class="new-book panel panel-default col-md-1">
            <div class="panel-body text-center">
                <a href="/books/new">NEW BOOK</a>
            </div>
        </div>
        <div class="new-author panel panel-default col-md-1">
            <div class="panel-body text-center">
                <a href="/authors/new">NEW AUTHOR</a>
            </div>
        </div>
    </div>

    <div class="book-container">
        <div class=" col-md-offset-1">
            <div class="image col-md-2">
                <br>
                <br>
                <img class="portraits" src="{{cover_url}}" alt="" />
            </div>
            <div class="info" "col-sm-offset-1 col-md-3">
                <br>
                <br>
                <br>

                <!-- <p class='text-right'>
            <a href="/authors/edit/{{id}}">
            <button class="btn" name="edit">Edit</button>
            </a>
            <a href="/authors/delete/{{id}}">
             <button class="btn" name="delete">Delete</button>
            </a>
        </p> -->
                <h2> {{title}}</h2>
                <p>
                    {{description}}
                </p>
                <br>
                <form class="delete" action="/books/delete/{{id}}" method="post">
                    <a href="/books">
                        <button class="btn btn-defualt" type="button" name="button">NO!!!</button>
                    </a>
                    <input class="btn btn-danger" type="submit" name="name" value="I'm sure">
                </form>
                </div>
            </div>
        </div>
    </div>

{{/book}}
