{{#author}}
    <h1>Are you sure you want to delete

<em>{{first_name}} {{last_name}}</em> and all of their related infomation?
</h1>
    <div class="container">

    </div>
    <div class="left-side col-md-1">
        <div class="new-book panel panel-default col-md-1">
            <div class="panel-body text-center">
                <a href="/books/new">NEW BOOK</a>
            </div>
        </div>
        <div class="new-author panel panel-default col-md-1">
            <div class="panel-body text-center">
                <a href="/authors/new">NEW AUTHOR</a>
            </div>
        </div>
    </div>

    <div class="book-container">



        <div class="book col-md-offset-2">
            <div class="image col-md-2">
                <br>
                <br>
                <img class="portraits" src="{{portrait_url}}" alt="" />
            </div>
            <div class="info" "col-sm-offset-1 col-md-3">
                <br>
                <br>
                <br>

                <!-- <p class='text-right'>
            <a href="/authors/edit/{{id}}">
            <button class="btn" name="edit">Edit</button>
            </a>
            <a href="/authors/delete/{{id}}">
             <button class="btn" name="delete">Delete</button>
            </a>
        </p> -->
                <h2> {{first_name}} {{last_name}}</h2>
                <p>
                    {{bio}}
                </p>
                <br>
                <form class="delete" action="/authors/delete/{{id}}" method="post">
                    <a href="/authors">
                        <button class="btn btn-defualt" type="button" name="button">NO!!!</button>
                    </a>
                    <input class="btn btn-danger" type="submit" name="name" value="I'm sure">

            </div>

        </div>



    </div>
</div>
</form>
{{/author}}
