{{#book}}
    <h1>Are you sure you want to delete <em>{{title}}</em> and all of the related infomation?
</h1>
    <div class="container">

    </div>
    <div class="left-side col-md-1">
        <div class="new-book panel panel-default col-md-1">
            <a href="/books"><img class="sidePanelImage"src="https://rjlouise.files.wordpress.com/2010/03/books.jpg" alt="" /></a>
            <div class="panel-body text-center">
                <a href="/books/new">NEW BOOK</a>
            </div>
        </div>
        <div class="new-author panel panel-default col-md-1">
            <a href="/authors"><img class="sidePanelImage" src="http://cdn.shopify.com/s/files/1/0080/8372/products/tattly_julia_rothman_typewriter_web_design_01_grande.jpg?v=1334946154" alt="" /></a>
            <div class="panel-body text-center">
                <a href="/authors/new">NEW AUTHOR</a>
            </div>
        </div>
    </div>

    <div class="book-container">
        <div class=" col-md-offset-1">
            <div class="image col-md-2">
                <br>
                <br>
                <img class="portraits" src="{{cover_url}}" alt="" />
            </div>
            <div class="info" "col-sm-offset-1 col-md-3">
                <br>
                <br>
                <br>

            
                <h2> {{title}}</h2>
                <p>
                    {{description}}
                </p>
                <br>
                <form class="delete" action="/books/delete/{{id}}" method="post">
                    <a href="/books">
                        <button class="btn btn-defualt" type="button" name="button">NO!!!</button>
                    </a>
                    <input class="btn btn-danger" type="submit" name="name" value="I'm sure">
                </form>
                </div>
            </div>
        </div>
    </div>

{{/book}}
